@model List<AlumnoViewModel>

@{
    ViewData["Title"] = "Información alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>

<partial name="ListaObjetoEscuelaBase"/>

<p><i>@ViewBag.Fecha</i></p>