@model IEnumerable<AsignaturaViewModel>

@{
    ViewData["Title"] = "Información asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>

<strong>Desde la vista normal</strong>

@foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaBaseSimple" model="asignatura"/>
}

<p><i>@ViewBag.Fecha</i></p>